<h3>Let's Taco 'bout It...</h3>
<div class="row">
  <div class="col s10 m6">
    <div class="z-depth-0" class="card">
      <div class="z-depth-0" class="card-image">
        <img src="http://i.imgur.com/27Oqt6K.gif">
      </div>
      <div class="card-content">
        <p>Do you like tacos? Are you in (or near) Los Angeles? Great!
          This is a site dedicated to finding the best tacos for you.
          <%= link_to "Take a look around", tacospots_path %>, find a taco spot, and then get going.</p>
      </div>
      <div class="z-depth-0" class="card-action">
        <%= link_to "Join to share your favorite taco spots.", new_user_path %><br>
        <%= link_to "Already joined? Log in!", login_path %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
